<ion-view title="Cadastro - Agente" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="cadastroAgente-form4" class="list">
      <ion-list id="cadastroAgente-list4">
        <label class="item item-input" id="cadastroAgente-input11">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="" id="inputagentecadastronome">
        </label>
        <label class="item item-input" id="cadastroAgente-input12">
          <span class="input-label">Email</span>
          <input type="email" ng-model=myvar placeholder="" id="inputagentecadastroemail">
        </label>
        <label class="item item-input" id="cadastroAgente-input13">
          <span class="input-label">CPF</span>
          <input type="text" ng-model=myvar placeholder="" id="inputagentecadastrocpf">
        </label>
        <label class="item item-input" id="cadastroAgente-input14">
          <span class="input-label">Data de Nascimento</span>
          <input type="date" ng-model=myvar placeholder="" id="inputagentecadastrobirth">
        </label>
        <label class="item item-input" id="cadastroAgente-input15">
          <span class="input-label">Celular</span>
          <input type="tel" ng-model=myvar placeholder="" id="inputagentecadastrocelular">
        </label>
        <label class="item item-input" id="cadastroAgente-input16">
          <span class="input-label">Endereço</span>
          <input type="text" ng-model=myvar placeholder="" id="inputagentecadastroendereco">
        </label>
        <label class="item item-input" id="cadastroAgente-input17">
          <span class="input-label">Senha</span>
          <input type="text" ng-model=myvar placeholder="" id="inputagentecadastrosenha">
        </label>
        <label class="item item-input" id="cadastroAgente-input18">
          <span class="input-label">Confirmação da senha</span>
          <input type="text" ng-model=myvar placeholder="" id="inputagentecadastrocsenha">
        </label>
        <label class="item item-input" id="cadastroAgente-input19">
          <span class="input-label">Matricula</span>
          <input type="text" ng-model=myvar placeholder="" id="inputagentecadastromatricula">
        </label>
        <label class="item item-select" id="cadastroAgente-select1">
          <span class="input-label">Corporação</span>
          <select id="cadastroagentecorporacao">
            <option>PC</option>
            <option>PF</option>
            <option>PM</option>
            <option>PRF</option>
            <option>Guarda</option>
          </select>
        </label>
      </ion-list>
      <button id="cadastroAgente-button17" style="border-radius:2px 2px 2px 2px;" class="button button-calm button-block">Cadastre-se</button>
    </form>
  </ion-content>
</ion-view>
