<ion-view title="Usuario Logado" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 155px;"></div>
    <a ui-sref="consultaDeAparelhosUsuRio()" id="usuarioLogado-button16" class="button button-balanced button-block">Consultar Aparelho</a>
    <a ui-sref="cadastroDeAparelhos()" id="usuarioLogado-button19" class="button button-balanced button-block">Cadastrar Aparelho</a>
    <button id="usuarioLogado-button20" class="button button-balanced button-block">Transferir Aparelho</button>
  </ion-content>
</ion-view>