<ion-view title="CADCEL" hide-nav-bar="true" id="page1" style="background-color:#FFD836;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/GNPftESeef9GoKuQsrgh_cadcel.png" style="display: block; width: 100%; height: auto; margin-left: auto;">
    </div>
    <a ui-sref="consultaDeAparelhosUsuRio()" id="cADCEL-button8" style="color:default;" class="button button-balanced button-block">Consultar Aparelhos</a>
    <a ui-sref="login()" id="cADCEL-button9" style="color:#FFFFFF;" class="button button-balanced button-block">Login</a>
    <a ui-sref="cadastroUsuRio()" id="cADCEL-button7" class="button button-balanced button-block">Cadastro</a>
  </ion-content>
</ion-view>