<ion-view title="Consulta de Aparelhos - Usuário" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="consultaDeAparelhosUsuRio-form3" class="list">
      <label class="item item-input" id="consultaDeAparelhosUsuRio-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Digite o IMEI ">
      </label>
    </form>
    <button id="consultaDeAparelhosUsuRio-button14" class="button button-balanced button-block">Pesquisar</button>
  </ion-content>
</ion-view>